/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Apr 15, 2021, 3:12:00 PM
    Author     : kimniyom
*/

@font-face {
    font-family: skv-txt;
    src: url('sukhumvit/SukhumvitSet-Text.ttf');
}
@font-face {
    font-family: skv;
    src: url('sukhumvit/SukhumvitSet-Medium.ttf');
}

@font-face {
    font-family: skvb;
    src: url('sukhumvit/SukhumvitSet-Bold.ttf');
}

@font-face {
    font-family: sarabun;
    src: url('sarabun/THSarabun Bold.ttf');
}

.customer-form input[type='text']{
    border: #cccccc solid 1px;
}
.customer-form textarea{
    border: #cccccc solid 1px;
}
.customer-form label{
    color: #000000;
    font-size: 16px;
    font-weight: bold;
}
.customer-form .card-header{
    font-weight: bold;
    color: #000000;
    background: #f4f4f4;
    border-radius: 4px 4px 0px 0px;
    border-bottom: solid 1px #ffffff;
}

.customer-form #head-toolbar{
    border: solid #cccccc 0px;
    border-radius: 0px;
}

.help-block {
    color: red;
}

.customer-form .card{
    border: solid #de93bc 1px;
    border-radius: 0px;
}

.customer-index input[type='text']{
    border: #cccccc solid 1px;
}

.box-list-work{
    border: none;
    background: #d25fa0;
    font-family: skv;
    margin: 10px;
    border-radius: 10px;
    box-shadow:#4a4a4a 5px 5px 10px 0px;
}


.customer-view label{
    color: #0066ff;
}

.customer-view .card{
    border: solid #cccccc 1px;
    border-radius: 0px;
}

.customer-view #head-toolbar{
    border: solid #cccccc 1px;
    border-radius: 0px;
}

.customer-view .card-header{
    font-weight: bold;
    color: #000000;
    background: #f4f4f4;
    border-radius: 4px 4px 0px 0px;
    border-bottom: solid 1px #cccccc;
}

.dupcheckbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.dupcheckbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #ffffff;
    border: solid #cccccc 1px;
    border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.dupcheckbox:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.dupcheckbox input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.dupcheckbox input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.dupcheckbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.text-tran-head{
    font-size: 26px;
}

.text-tran-customer{
    font-size: 16px;
}

.send-heading{
    font-size: 14px;
}
@media screen and (max-width: 768px) {
    /* STYLES HERE */
    .text-tran-head{
        font-size: 20px;
        line-height: 30pt;
    }

    .text-tran-customer{
        font-size: 14px;
    }

    .alert-heading{
        margin-top: -10px;
    }

    .send-heading{
        font-size: 14px;
    }

    .box-title-tran{
        height: 20px;
    }
}


@media screen and (min-width: 769px) and (max-width: 1023px) {
    /* STYLES HERE */
    .text-tran-head{
        font-size: 24px;
        line-height: 30pt;
    }

    .text-tran-customer{
        font-size: 14px;
    }

    .alert-heading{
        margin-top: -10px;
    }

    .send-heading{
        font-size: 14px;
    }

    .box-title-tran{
        height: 30px;
    }


}

