/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Apr 15, 2021, 3:12:00 PM
    Author     : kimniyom
*/

.queue-form input[type='text']{
    border: #f4f4f4 solid 1px;
    background: #ffffff;
}
.queue-form textarea{
    border: #f4f4f4 solid 1px;
    background: #ffffff;
}
.queue-form label{
    color: #0066ff;
}
.queue-form .card-header{
    font-weight: bold;
    color: #000000;
    background: #f4f4f4;
    border-radius: 4px 4px 0px 0px;
    border-bottom: solid 1px #cccccc;
}


.help-block {
    color: red;
}

.queue-form .card{
    border: solid #cccccc 1px;
    border-radius: 0px;
}

.queue-index input[type='text']{
    border: #cccccc solid 1px;
    background: #f4f4f4;
}

.queue-index input[type='text']{
    border: #cccccc solid 1px;
    background: #f4f4f4;
}
.box-list-work{
    /*
    box-shadow: 0px 5px 20px 10px #cccccc;
    margin: 30px;
    border: none;
    */
    border-radius: 0px;
}

.queue-view label{
    color: #0066ff;
}

.queue-view .card{
    border: solid #cccccc 1px;
    border-radius: 0px;
}

.queue-view #head-toolbar{
    border: 0px;
    border-radius: 0px;
}

.queue-view .card-header{
    font-weight: bold;
    color: #000000;
    background: #f4f4f4;
    border-radius: 4px 4px 0px 0px;
    border-bottom: solid 1px #cccccc;
}


.queue-index #head-toolbar{
    border: none;
    border-radius: 0px;
}

.queue-index .card{
    border: solid #cccccc 1px;
    border-radius: 0px;
}


/*Queue Css*/
    @media(min-width:767px) {
        #popupaddwork .modal-dialog{
            min-width: 99% !important;
            margin-top: 10px !important;
            margin: auto;
        }

        #detail-q{
            position: relative;
            overflow: auto;
        }

        #box-popup{
            background: #ffffff;
            padding:0px;
            padding-bottom: 0px;
        }
    }

    @media(max-width:767px) {
        #popupaddwork .modal-dialog{
            min-width: 99% !important;
            margin-top: 5px !important;
            margin: auto;
        }

    }

    .queue-index .card-header{
        background-image: linear-gradient(to right, #16222A 0%, #3A6073  100%);
        border-radius: 0px;
        border:0px;
        color:#ffffff;
    }
    .queue-list-group{
        padding-bottom: 0px;
    }

    .queue-list-group{
        transition: 0.5s;
    }

    .queue-list-group:hover{
        background-image: linear-gradient(to right, #16222A 0%, #3A6073  100%);
        color: #ffffff;
    }

    .list-out-side{
        background: #ffffff;
        color:#000000;
        transition: 0.5s;
    }

    .list-out-side:hover{
        color: #FFFFFF;
        cursor: pointer;
        background: #16222A;
        box-shadow: 0px 0px 20px 0px #16222A;
    }

    .my-box-search input[type='search']{
        background: #000000;
        border-radius: 20px; border:0px;
        color:#ffffff;
    }

    #head-toolbar{
        border-radius: 0px; margin-bottom: 0px; border-right:0px; border-right: 0px; border-left: 0px; border:0px;
    }




